.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
dist/
build/
*.egg-info
.eggs/
venv/
.venv/
env/
tests/
docs/
examples/
vscode-extension/
scripts/
.env
.env.*
*.log
node_modules/
